
/* Basic Styles ______________________________*/
:root {
    --lightblue: #F6F9FC;
    --red: #d64041;
  }
  
  a,
  a:hover {
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .bg-lightblue {
    background: var(--lightblue);
  }
  
  .bg-red {
    background: var(--red);
  }
  
  .text-red {
    color: var(--red);
  }
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  .cover {
    background: no-repeat center/cover;
  }
  
  .p-15 {
    padding: 15px;
  }
  

 /* Header ____________________________________*/

  .scroll .page-header {
    background: var(--red);
  }
  
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
  }
  
  .page-header .navbar-toggler {
    border-color: var(--white); 
  }
  
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }


  /* Header ENDS */


  /* Seaction #1__________________________________ */
  .scroll .hero {
    transform: scale(0.98);
  }
  
  .hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
    z-index: 10;
  }
  /* section #1 ENDS */

  /* Section # 4 ____________________________________*/
  .popular-destinations figure {
    margin-bottom: 30px;
  }
  
  .popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
  }
  
  .popular-destinations a:hover img {
    transform: scale(1.25);
    filter: none;
  }

 
  /* section #4 ENDS */


  /* FOOTER __________________________________________*/
  .page-footer .footer-links {
    text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }
  /* footer ENDS */


  /* Images________________________ */

  /* Norway____ */
  .vh-100 {
      height: 100vh;
  }

  .text-white{
      color: white;
  }


  .container12 {
    display: inline-block;
    
    border: 1px solid black;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
  }
  .container12 img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
  }
  .container12:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }




  