.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: white 3px solid !important;
}

.section-follow .fa-4x{ 
    margin: 5px 10px;

}


#fadeIn {
    opacity: 0;
    transition: 2.5s opacity;
    text-align: center;
    font-size:32px;
   z-index: 5;
   margin-bottom:15px;
  }

  p {
    text-align: center;
  }

#btnYes ,#btnNo{
      border-radius: 5px ;
      height: 32px;
      font-size: 50%;
  }